.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: #0809c2;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: #0809c2;
}
.navigation-links-navlink2 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: #0809c2;
}
.navigation-links-navlink3 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: #0809c2;
}
.navigation-links-navlink4 {
  color: #464646;
  font-size: 17px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4:hover {
  color: #0809c2;
}













@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1f1f1;
}
.contact-header {
  width: 100%;
  display: flex;
  max-width: auto;
  align-self: stretch;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding: 15px 3%;
  justify-content: space-between;
  background-color: #ffffff;
}
.contact-image {
  width: 183px;
  height: 46px;
}
.contact-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-burger-menu {
  display: none;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: flex;
}
.contact-mobile-menu {
  top: 0;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-image1 {
  height: 2rem;
}
.contact-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-text {
  color: #0809c2;
  font-size: 32px;
  font-style: normal;
  margin-top: 35px;
  text-align: center;
  font-family: Inter, serif;
  font-weight: 700;
  margin-bottom: 35px;
}
.contact-text01 {
  font-family: Inter;
}
.contact-text02 {
  font-family: Inter;
}
.contact-text03 {
  color: #333;
  font-family: Inter;
}
.contact-text04 {
  color: #333;
  font-family: Inter;
}
.contact-text05 {
  color: #0809c2;
  font-family: Inter;
}
.contact-container02 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon10 {
  fill: #0809c2;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.contact-link {
  font-size: 22px;
  padding-left: 10px;
  text-decoration: none;
}
.contact-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}
.contact-icon12 {
  fill: #0809c2;
  width: 50px;
  height: 50px;
}
.contact-text06 {
  font-size: 22px;
  text-align: center;
  padding-left: 10px;
}
.contact-text08 {
  color: #0809c2;
}
.contact-container04 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-container05 {
  flex: 0 0 auto;
  width: 35%;
  height: 450px;
  margin: 20px;
  display: flex;
  min-width: 360px;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-image2 {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  object-fit: cover;
  margin-bottom: 0px;
}
.contact-container06 {
  flex: 1;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contact-text11 {
  color: #333;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: 20px;
}
.contact-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: center;
}
.contact-icon14 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text12 {
  color: #333;
  align-self: center;
  padding-left: 5px;
}
.contact-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.contact-icon16 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text13 {
  color: #333;
  padding-left: 5px;
}
.contact-text14 {
  color: #333;
  height: auto;
  align-self: flex-start;
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact-text15 {
  color: #333;
  align-self: flex-start;
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact-container09 {
  flex: 0 0 auto;
  width: 35%;
  height: 450px;
  margin: 20px;
  display: flex;
  min-width: 360px;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-image3 {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  object-fit: cover;
  margin-bottom: 0px;
}
.contact-container10 {
  flex: 1;
  width: 100%;
  height: 400px;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contact-text16 {
  color: #333;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: 20px;
}
.contact-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: center;
}
.contact-icon18 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text17 {
  color: #333;
  align-self: center;
  padding-left: 5px;
}
.contact-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.contact-icon20 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text18 {
  color: #333;
  padding-left: 5px;
}
.contact-text19 {
  color: #333;
  height: auto;
  align-self: flex-start;
  margin-left: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.contact-container13 {
  flex: 0 0 auto;
  width: 35%;
  height: 450px;
  margin: 20px;
  display: flex;
  min-width: 360px;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-image4 {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  object-fit: cover;
  margin-bottom: 0px;
}
.contact-container14 {
  flex: 1;
  width: 100%;
  height: 400px;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contact-text21 {
  color: #333;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: 20px;
}
.contact-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: center;
}
.contact-icon22 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text22 {
  color: #333;
  align-self: center;
  padding-left: 5px;
}
.contact-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.contact-icon24 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text24 {
  color: #333;
  padding-left: 5px;
}
.contact-container17 {
  flex: 0 0 auto;
  width: 35%;
  height: 450px;
  margin: 20px;
  display: flex;
  min-width: 360px;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-image5 {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  object-fit: cover;
  margin-bottom: 0px;
}
.contact-container18 {
  flex: 1;
  width: 100%;
  height: 400px;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contact-text25 {
  color: #333;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: 20px;
}
.contact-container19 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: center;
}
.contact-icon26 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text26 {
  color: #333;
  align-self: center;
  padding-left: 5px;
}
.contact-container20 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.contact-icon28 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text27 {
  color: #333;
  padding-left: 5px;
}
.contact-container21 {
  flex: 0 0 auto;
  width: 35%;
  height: 450px;
  margin: 20px;
  display: flex;
  min-width: 360px;
  box-shadow: 0px 0px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-image6 {
  width: 100%;
  height: 250px;
  margin-top: 0px;
  object-fit: cover;
  margin-bottom: 0px;
}
.contact-container22 {
  flex: 1;
  width: 100%;
  height: 400px;
  display: flex;
  padding: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.contact-text28 {
  color: #333;
  font-size: 22px;
  align-self: flex-start;
  font-style: normal;
  font-weight: 700;
  padding-left: 0px;
  padding-bottom: 20px;
}
.contact-container23 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: center;
}
.contact-icon30 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text29 {
  color: #333;
  align-self: center;
  padding-left: 5px;
}
.contact-container24 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}
.contact-icon32 {
  fill: #0809c2;
  width: 30px;
  height: 30px;
}
.contact-text30 {
  color: #333;
  padding-left: 5px;
}

.contact-container25 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact-image7 {
  height: 2rem;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.contact-nav2 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.contact-nav2 a{
  margin: 0 5px;
}

.contact-navlink {
  margin-left: 0px;
  text-decoration: none;
}
.contact-navlink1 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink2 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink3 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink4 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}

.contact-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon34 {
  fill: #0809c2;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
@media(max-width: 767px) {
  .contact-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-nav {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-container03 {
    align-self: center;
  }
  .contact-text06 {
    width: auto;
    height: auto;
  }
  .contact-image2 {
    width: 100%;
  }
  .contact-image3 {
    width: 100%;
  }
  .contact-image4 {
    width: 100%;
  }
  .contact-image5 {
    width: 100%;
  }
  .contact-image6 {
    width: 100%;
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-image7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-separator {
    margin: var(--dl-space-space-oneandhalfunits) 0px;
  }
  .contact-container26 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text31 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {

  .map-container{
    margin: 15px 0;
    width: 100%;
  }
  .contact-header {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-text {
    margin-left: 15px;
    margin-right: 15px;
  }
  .contact-container02 {
    height: auto;
    flex-direction: column;
  }
  .contact-container03 {
    height: auto;
    flex-direction: column;
    justify-content: center;
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container26 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text31 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
