{% load static  %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!-- CSS only -->

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<h1>TOP TRIPS</h1>


<ul>
{% for trip in top_trips %}
    <li>
        <a href="{% url 'trip_details' trip.id %}">{{ trip.name }}</a>
        {% for category in trip.category.all %}
            <p>{{ category.id }}</p>
        {% endfor %}
        <p>{{ trip.price }}</p>
        <p>{{ trip.country }}</p>
        <p>{{ trip.duration }}</p>
        {% for month in trip.months.all %}
            <p>{{ month }}</p>
        {% endfor %}

        {% if 4|category_in:trip.category.all %}
            <h1>IT WORKED!</h1>

        {% endif %}


        <img src="{{ trip.main_image.url }}" alt="" style="height: 200px">
    </li>
    {{ trip.text|safe }}
{% endfor %}
</ul>


</body>
</html>