{% load static  %}
{% load filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!-- CSS only -->

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<h1>ALL TRIPS</h1>

{% if search_box %}
<h2>You searched for {{ search_box }}</h2>
{% endif %}


<div style="display: flex">
{% if all_trips %}
    {% for trip in all_trips %}
        <div style="display: block; margin: 10px; width: 300px">
            <a href="{% url 'trip_details' trip.id %}"><h1>{{ trip.name }}</h1></a>
                    <img src="{{ trip.main_image.url }}" alt="" style="height: 150px">
            <p>{{ trip.category.all }}</p>
            <p>{{ trip.price }}</p>
            <p>{{ trip.country }}</p>
            <p>{{ trip.duration }}</p>
            <p>{{ trip.months.all }}</p>
            <hr>
        {{ trip.text|safe }}
        </div>
    {% endfor %}
{% else %}
    <h2>Nothing</h2>
{% endif %}
</div>


</body>
</html>